.container{
    margin:0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
    
}
.img-review{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 2px solid gray; */
    box-shadow: 4px 4px 3px gray;
}
.btn
{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    background-color: red;
    color: white;
    font-size: xx-large;
}
.job{
    text-decoration: underline;
    padding: 10px;
}
.job:hover{
    cursor: pointer;
    transform: translate(1,1,1);
    background-color: black;
    color: red;
    border-radius: 23px;
padding: 10px;
}
.text{
    width: 60vw;
    font-weight: 500;
}