.container{
    margin:0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items{
    text-align: center;
    box-shadow: 3px 3px 4px grey;
    padding: 20px;
}
.img-box{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* width: 40vw; */
    
}
.img-review{
    margin: 15px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* border: 2px solid gray; */
    box-shadow: 4px 4px 3px gray;
}
.btn
{   
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 4px;
    background-color: red;
    color: white;
    font-size: xx-large;
}
.job{
    margin: -50px auto 0px auto ;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}
.job:hover{
    background-color: black;
    color: white;
}
.text{
    margin-top: -20px;
    max-width: fit-content;
    min-width: 200px;
    font-weight: 500;
}
@media  only screen  and (max-width:500px){
    .img-review{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        /* border: 2px solid gray; */
        box-shadow: 4px 4px 3px gray;
    }
}